<h1> Hello <%=  @user.email %> </h1>
<h2> Plans </h2>
<% @user.plans.each do |plan| %>
  <p> <%= button_to "See Plan: #{plan.name}", "/plan/#{plan.id}", method: :get, class: "btn btn-default" %> </p>
<% end %>
<h2> Badges </h2>

Here are your awards! <br>
<div class="row">
  <div class="col-md-2">
    <center>
    <img src="/images/set-drill-badge.png">
  <br>
  <h4>Practice makes perfect! </h4>
    Set a drill for a plan.
     </center>
  </div>
  <div class="col-md-2">
    <center>
    <img src="/images/speedy-badge.png"><br>
    <h4>Wow that was fast!</h4> Complete a drill in under five minutes.
     </center>
  </div>
  <div class="col-md-2">
    <center>
    <img src="/images/plan-badge.png"><br>
    <h4>Totally prepared!</h4>
    Planned for disaster.
     </center>
  </div>

  <div class="col-md-2">
    <center>
    <img src="/images/trophy-badge.png"><br>
    <H4> Over Achiever </h4>
      Earned three badges.
     </center>
  </div>
